* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.scope-one-regular {
	font-family: "Scope One", serif;
	font-weight: 400;
	font-style: normal;
  }

.App {
	text-align: center;
	font-family: "Scope One", serif;
}

.container-fluid {
	margin: 0;
	padding: 0;
}
.btn:focus, .btn:active {
    outline: none;
    box-shadow: none;
}
.card-img-top {
	/* Ancho fijo */
	 /* Altura fija */
	object-fit: cover; /* Ajusta la imagen al tamaño del contenedor sin distorsionarla */
  }
  hr {
	padding: 0;
	margin: 0;
  }
  .hrppal {
	height: 2px; /* Cambia la altura del hr */
    border-width: 0; /* Elimina el borde del hr */
    background-color: #0095da; /* Cambia el color del hr */
  }
  .imgppal {
	height: 100px;
  }
  @media (max-width: 992px) {
	.imgppal {
		height: 50px;
	}

}